{% extends 'base.html' %}


{% block content %}
<div id="trading_funnels_app">

    <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Start</th>
                    <th scope="col">Step1</th>
                    <th scope="col">Step2</th>
                    <th scope="col">Step3</th>
                    <th scope="col">Final</th>
                    <th scope="col">Profitability, %</th>
                </tr>
                </thead>
                {% verbatim %}
                <tbody>
                <tr class="trading_funnel_row" v-for="trading_funnel in trading_funnels">
                    <td>{{ trading_funnel.start_stop_symbol }}</td>
                    <td>{{ trading_funnel.first_pair.name }}</td>
                    <td>{{ trading_funnel.second_pair.name }}</td>
                    <td>{{ trading_funnel.third_pair.name }}</td>
                    <td>{{ trading_funnel.start_stop_symbol }}</td>
                    <td>0</td>
                </tr>
                </tbody>
                {% endverbatim %}
            </table>

</div>


{% endblock %}
{% block javascript %}



<script src="/static/js/trading_app.js"></script>



{% endblock %}
