{% extends 'base.html' %}


{% block content %}
{% if file_qty > 0 %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                <img class="mr-3" src="/static/images/accounts_icon.png" alt="" height="60">
                <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">Account to import</h6>
                    <small>You have [{{ file_qty }}] accounts to import</small>
                </div>
    </div>
    <div id="accounts_app">
            <table class="table table-striped">
                <thead>
                        <tr>
                            <th scope="col"><span class="check_all_checkbox"><input class="check_all" type="checkbox" id="check_all" name="check_all_account"></span></th>
                            <th scope="col">Session</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Username</th>
                            <th scope="col">Avatar</th>
                            <th scope="col"></th>
                        </tr>
                </thead>
                {% verbatim %}
                <tbody>
                    <tr class="account_row" v-for="account in accounts">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check_account" name="check_account">
                            </div>
                        </td>
                        <td>{{ account.session_file }}</td>
                        <td>{{ account.first_name }}</td>
                        <td>{{ account.last_name }}</td>
                        <td>{{ account.username }}</td>
                        <td>{{ account.avatar }}</td>
                        <td></td>

                    </tr>
                </tbody>
                {% endverbatim %}
            </table>
            <div class="action_do_it">
                <input type="hidden" value="{{ csrf_token }}" name="csrf" />
                <select class="form-control" id="select_account_action" aria-label="Default select example">
                    <option selected>Check action with seected accounts</option>
                    <option value="1">Import</option>
                    <option value="2">Delete</option>
                    <option value="2">Reload</option>
                </select>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Do it!</button>
                </div>
            </div>
        </div>
  </div>
{% endif %}
{% if active_account_qty > 0 %}
<div id="active_accounts_app">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
                <img class="mr-3" src="/static/images/accounts_icon.png" alt="" height="60">
                <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">Activa accounts</h6>
                    <small>You have [{{ active_account_qty }}] active accounts</small>
                </div>
        </div>

                <table class="table table-striped">
                    <thead>
                            <tr>
                                <th scope="col"><span class="check_all_acctive_accounts_checkbox"><input class="check_all" type="checkbox" id="check_all" name="check_all_account"></span></th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Telegram_id</th>
                                <th scope="col">Session</th>
                                <th scope="col">F.I.O</th>
                                <th scope="col">Username</th>
                                <th scope="col">Deleted</th>
                                <th scope="col">Online</th>
                                <th scope="col">Action</th>
                            </tr>
                    </thead>
                    {% verbatim %}
                    <tbody>
                        <tr class="active_account_row" v-for="active_account in active_accounts">
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="check_active_account" name="check_account">
                                </div>
                            </td>
                            <td>{{ active_account.fields.avatar }}</td>
                            <td>{{ active_account.fields.telegram_user_id }}</td>
                            <td>{{ active_account.fields.session_file }}</td>
                            <td><span class="account_first_name">{{ active_account.fields.first_name }}</span><br><span class="account_Last_name">{{ active_account.fields.last_name }}</span></td>

                            <td>{{ active_account.fields.username }}</td>
                            <td>{{ active_account.fields.deleted }}</td>

                            <td>{{ active_account.fields.online }}</td>
                            <td class="actions">
                                <span class="account_id">{{ active_account.pk }}</span>
                                <div class="check_account_icon"><img src="/static/images/toggle-off.svg" width="50"/></div>
                                <div class="delete_account_icon"><img src="/static/images/close.svg" width="30"/></div>
                            </td>
                        </tr>
                    </tbody>
                    {% endverbatim %}
                </table>
      </div>
</div>
{% endif %}

{% endblock %}
{% block javascript %}
<script src="/static/js/accounts_app.js"></script>
<script src="/static/js/accounts_jquery_app.js"></script>

{% endblock %}
